body {
    .order {
        margin-top: 24px;
        padding: 150px 0;
        background: linear-gradient(rgba(255, 192, 203, 0.391), rgba(255, 192, 203, 0.4)), url(https://images.unsplash.com/photo-1562440499-64c9a111f713?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774) center/cover, no-repeat;
       
        form {
            input {
                display: block;
                width: 70%;
                height: 50px;
                margin: 0 auto;
                margin-bottom: 15px;
                padding: 0 15px;
                font-family: "Lobster", cursive;
                font-size: 15px;
                border-radius: 10px;
                border: none;
            }
            .submit {
                font-size: 20px;
                background-color: rgba(232, 154, 45, 0.887);
            }
            .submit:hover {
                background-color: rgba(250, 157, 27, 0.901);
            }
            .submit:active {
                background-color: rgba(250, 157, 27, 0.901);
            }
        }
    }
}