body {
  box-sizing: border-box;
 
 
  .reviews {
    // margin: 30px 0;
    padding: 80px 0;
    // background: linear-gradient(rgba(255, 192, 203, 0.086), rgba(255, 192, 203, 0.108)), url(https://images.unsplash.com/photo-1622896784083-cc051313dbab?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774) ;
    .title {
      width: 100%;
      text-align: center;
      margin-bottom: 16px;
    }
    .review-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      .review {
        display: inline-block;
        width: 60%;
        padding: 10px;
        text-align: center;
        border-radius: 10px;
        border: 3px solid $sec;
        background-color: #fff;
        overflow: hidden;

        .user {
          position: relative;
          padding: 15px;
          font-size: 70px;
          display: inline-block;
          background-color: $light;
          border-radius: 50%;
        }
        img {
        }
        h4 {
          text-align: center;
        }
        .review-content {
          display: none;
        }
        .active-review {
          display: block;
        }
      }
      .btn {
        font-size: 24px;
        padding: 40px 20px;
        text-align: center;
      }
    }
  }
  .reviews:before {
    content: "";
    top: 0; 
    left: 0; 
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;
    background: linear-gradient(rgba(255, 192, 203, 0.086), rgba(255, 192, 203, 0.108)), url(https://images.unsplash.com/photo-1622896784083-cc051313dbab?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774) center/contain, no-repeat;
  }
}
